h3 {
    color: red;
}

.gif-container{
    background-color: black;
    margin-top: 20%;
}

.gif-img{ 
    display: inline-flex;
}

img{
    height:250px;
    width:250px;
    margin-right: 10px;
    margin-left:10px;
} 