*{
  background-color: black;
}

h1{
  color: white;
  border-left: mediumspringgreen;
  border-bottom: cyan;
  border-top: tomato;
  border-right: indigo;
  border-style: solid;
  display: inline-flex;
  padding: 10px;
  border-radius: 5%;
  
}

button{
  background-color: white;
  padding: 10px;
}

.App {
  text-align: center;
}

.cards{
  display: inline-flex;
  margin-right: 10px;
}

.gifDisplay{
  height: 250px;
  width: 250px;
  margin-right: 10px;
}

.display{
  display: inline-flex;
}